@media (min-width:380px) and (max-width: 720px) {
  .col-xs-12 {
    width: 100% !important;
  }
}

@media (min-width: 721px) and (max-width:766px){
  .col-xs-12 {
    width: 25% !important;
  }
}

.input-group {
	position: relative;
	margin-bottom: 45px;
	width: 100%;
}

.form-control {
 	  font-size:18px;
  	padding:10px 10px 10px 5px;
  	display:block;
  	border:none !important;
  	border-bottom:1px solid #009688 !important;
  	box-shadow: none !important;
  	border-radius: 0px !important ;
  	z-index: 0 !important
}

.form-control:focus {
	border-bottom: 2px solid #009688 !important;
	transition: .2s border;
	outline: none !important;
}

.error:focus {
	border-bottom: 2px solid #F44336 !important;
}

.success {
	border-bottom: 2px solid
}

label          {
  color:#999; 
  font-size:14px;
  font-weight:400 !important;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.3s ease all;
  z-index: 2;  	 
}

.form-control:focus ~ label {
  top:-20px;
  font-size:14px;
  color:#009688;
}

.used {
	// z-index: 2 !important;
	   top:-20px;
  	font-size:14px;
  	color:#009688;
}

.text-warning {
	display: none;
}
